@model Diversia.Core.Pager.Page<Diversia.Models.BlogPost.BlogPostModel>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Hello Mr. Salguero</h1>
    <p class="lead">Estas mostrando la página @Model.FirstPage de @Model.LastPage de @Model.TotalPages páginas.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    @{
        foreach (var mod in Model.Content)
        {
            <div class="col-md-4">
                <h2>@mod.Title</h2>
                <p>@mod.Description</p>
                <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">@mod.Photo</a></p>
            </div>
        }

    }

    
    
</div>